.Select {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  background-image: url('/src/assets/images/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 16px center;
}
